<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <div class="form-group">
    <label>Comment</label><br>
    <%= f.text_field :content,:class=>"form-control input-md",:id=>"desc" %>
  </div>
 <div class="actions">
   <button type="submit" class="btn btn-success">
       <i class="fa fa-save"></i> Save
     </button>
     <a href="/" class="btn btn-danger"><i class="fa fa-trash-o"></i> Cancel</a>
  </div>
<% end %>
<script>
$('document').ready(function(){
    $('#desc').jqte()
    })
</script>
