<meta name="csrf-token" content=<%= form_authenticity_token %>>
<form action="/team/add" method="post">
  <input type="text" name=project[member] placeholder="Enter the team mates mail id">
  <input type="Submit" value="Add member" class="btn btn-success"/>
</form>
