
<%= link_to new_hook_path ,:class=>"btn btn-primary pull-right" do%>
  <i class="fa fa-plus"></i>  New Hook
<%end%>
<h1>Hooks</h1>
<div class="row">
    <% @hooks.each do |hook| %>
    <div class="col-md-12">
      <div class="col-md-4"><div class="name"><%= hook.name %></div> <br>
        <b>URL</b> <%="request/"+hook.purpose+"/"+hook.submodule_id.to_s+"/"+hook.token%><br>
      <%= link_to 'Destroy', hook, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    <br>
    <% end %>

<br>
</div>
</div>
